.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .pokemon-name {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .type-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .type-badge {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .type-icon {
    width: 24px;
    height: 24px;
  }
  
  .type-name {
    text-transform: capitalize;
  }
  
  .stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .stat-box {
    text-align: center;
  }
  
  .description {
    text-align: center;
    font-style: italic;
    background-color: rgba(255, 255, 255, 0.986);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }